@font-face {
    font-family: 'Potra';
    src: url('./fonts/Potra/potra_cyr-webfont.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Russo One';
        src: url('./fonts/Russo one/russoone-regular-webfont.woff2') format('woff2');
        }
    h1{
        color: white;
        font-size: 3.3vw;  
        font-family: 'Potra';
        position: absolute;
        z-index: 2;
        margin-top: 1vw;
    }
    
    body{
        background-color:black;
        
    } 
    .main-container {
        margin-left: 18.5%;
        width: 75%;
    } 
    .slider-container{
        margin-left: 18.5%;
        width: 75%;
    }
    .slider{
        overflow: hidden;
        max-width: 90%;
    }
    .slider-line{
        display: flex;
        transition: all ease 1s;
    }
    .before{
        width: 4.36vw; 
        height: 4.85vw;
        background-size: contain; 
        background-image: url("images/кнопка_право.png"); 
        border: none;
        cursor: pointer;
        background-color: transparent; 
        padding: 0;   
        position: absolute; 
        z-index: 2;
        margin-top: -25vw;
        margin-left:62.7vw;
        display: block;

        
    }
    .before:hover{
        background-image: url("images/кнопка_право_ховер.png");
    }
    .next{
        width: 4.36vw; 
        height: 4.85vw;
        background-size: contain;  
        background-image: url("images/кнопка_лево.png"); 
        border: none;
        cursor: pointer;
        background-color: transparent; 
        padding: 0;   
        position: absolute; 
        z-index: 2;
        margin-top: -25vw;
        display: block;
        

        
    }
    .next:hover{
        background-image: url("images/кнопка_лево_ховер.png");
    }
    .slider-container2{
        margin-left: 0%;
        width: 100%;
        
    }
    .slider2{
        overflow: hidden;
        max-width: 90%;
    }
    .slider-line2{
        display: flex;
        transition: all ease 1s;
    }
    .before2{
        width: 9vw; 
        height: 10vw;
        background-size: contain; 
        background-image: url("images/кнопка_право.png"); 
        border: none;
        cursor: pointer;
        background-color: transparent; 
        padding: 0;   
        position: absolute; 
        z-index: 2;
        margin-top: -80vw;
        margin-left:80vw;
        display: none;

        
    }
    .before2:hover{
        background-image: url("images/кнопка_право_ховер.png");
    }
    .next2{
        width: 9vw; 
        height: 10vw;
        background-size: contain;  
        background-image: url("images/кнопка_лево.png"); 
        border: none;
        cursor: pointer;
        background-color: transparent; 
        padding: 0;   
        position: absolute; 
        z-index: 2;
        margin-top: -80vw;
        margin-left:2vw;
        display: none;
        

        
    }
    .next2:hover{
        background-image: url("images/кнопка_лево_ховер.png");
    }
    .slider {
        display: block;
    }
    
    .slider2 {
        display: none;
    }
    

    .main_button{
        background-color: #FF00A8;
        border-color: white;
        width: 10vw;
        height: 3vw;
        margin-top: 1vw;
        margin-left: 7vw;
        z-index: 12;
        border-radius: 0.5vw;
        font-size: 0.8vw;
        font-family: 'Russo One';
        color: white;
        position: absolute;
        border-width: 0.2vw;
    }
    .main_button:hover{
        transform: scale(1.05);
    }
    @media only screen and (max-width: 800px) {
        .slider {
            display: none;
        }
        .slider2 {
            display: block;
        }
        .next{
            display: none;
        }
        .next2{
            display: block;
        }
        .before{
            display: none;
        }
        .before2{
            display: block;
        }
        h1{
            margin-left: -4vw;
            margin-top: 6vw;
        }
        .main_button{
            margin-left: 14vw;
            width: 20vw;
            height: 4vw;
            font-size: 1.5vw;
        }
        .main_button:hover{
            transform: scale(1.03);
        }
        
        
    }
    .page-slide-left {
        animation: pageSlideLeft 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    }
    
    /* Анимация смещения страницы влево */
    @keyframes pageSlideLeft {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100vw); /* Смещаем страницу за пределы экрана влево */
        }
    }
    .page-slide-right {
        animation: pageSlideRight 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    }
    
    /* Анимация смещения страницы вправо */
    @keyframes pageSlideRight {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(100vw); /* Смещаем страницу за пределы экрана */
        }
    } 

    
    
